fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.0
python-multipart
pinecone
langchain<0.4
langchain-groq<0.3
langchain-community<0.4
langchain-core<0.4
langchain-text-splitters<0.4
youtube-transcript-api
gtts
requests
python-dotenv
PyPDF2
python-docx
--extra-index-url https://download.pytorch.org/whl/cpu
transformers
torch
sentence-transformers
langchain-huggingface
